@use "global" as *;

.about__container {
  @include mq(md) {
    display: flex;
    column-gap: rem(60);
  }
}

.about__image {
  @include mq(md) {
    width: 50%;
  }
}

.about__image img {
  aspect-ratio: 335/292;
  object-fit: cover;
  height: auto;
}

.about__body {
  font-size: rem(14);
  color: $base-font;

  @include mq(md) {
    flex: 1;
    font-size:  rem(16);
  }
}

.about__title {
  font-family: $third-font-family;
  font-weight: $bold;
  line-height: calc(20.75/14);
  margin-top: rem(30);

  @include mq(md) {
  margin-top: rem(70);
  }
}

.about__text {
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: calc(32/14);
  margin-top: rem(30);
}

