@use "global" as *;

.button__wrapper {
  margin-top: rem(100);
}

.button {
  padding: rem(14) rem(39) rem(14) rem(24);
  position: relative;
  display: inline-block;
  font-size: rem(14);
  line-height: 1;
  text-transform: uppercase;
  color: $main-color;
  font-family: $second-font-family;
  font-weight: $medium;

}

.button--border {
  border: 1px solid #000;
  border-radius: 4px;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(25);
  width: rem(6);
  height: rem(6);
  border-top: rem(1) solid $main-color;
  border-right: rem(1) solid $main-color;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s;
}

.button:hover::before {
  @include mq(md){
      right: rem(20);
  }
}

.button__wrapper--about {
  margin-top: rem(40);
  text-align: right;
}

.button__wrapper--service {
  text-align: right;
  margin-top: rem(20);
}

.button__wrapper--works {
  margin-top: rem(40);
  text-align: right;
}

.button__wrapper--news {
  margin-top: rem(45);
  text-align: right;

  @include mq(md) {
    margin-top: rem(40);
  }
}