@use "global" as *;

.mv-swiper {
  position: relative;
}

.mv-swiper .swiper-wrapper {
  margin: auto;
  width: 100%;
  height: calc(100vh - rem(138));

  @include mq(md) {
    height: 100vh;
  }
}

.mv-swiper .swiper-slide img {
  aspect-ratio: 355/480;
  object-fit: cover;
  height: 100%;

  @include mq(md) {
    aspect-ratio: 1034/780;
  }
}