@use "global" as *;


.mv__inner {
  margin: auto;
  padding: 0 rem(10);
  width: 100%;

  @include mq(md) {
    padding: 0 rem(25);
  }
}

.mv__container {
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.mv__swiper {
  @include mq(md) {
    width: 80.78%;
  }
}

.mv__text-wrapper {
  margin-top: rem(20);

  @include mq(md) {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: center;
    padding-left: rem(20);
  }
}

.mv__text {
  font-family: $base-font-family;
  font-size: rem(34);
  font-weight: $bold;
  line-height: calc(49/34);
  color: $base-font;

  @include mq(md) {
    writing-mode: vertical-rl;
    font-size: rem(60);
    margin-top: rem(80);
    letter-spacing: 0.08em;
    padding-bottom: 0;
    display: block;
  }
}