@use "global" as *;

.news-item {
  padding-top: rem(20);
  padding-bottom: rem(20);
  border-bottom: 1px solid #e2e2e2;

  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }
}

.news-item:first-child {
  @include mq(md) {
    padding-top: 0;
  }
}

.news-item__box {
  display: flex;
  align-items: flex-start;
  column-gap: rem(12);
}

.news-item__title {
  margin-top: rem(20);
  display: block;
}

.news-item__title span {
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(28/14);
  color: $base-font;

  padding-bottom: .25em;
  background: linear-gradient($base-font, $base-font) 0 100%/0 1px no-repeat;
  transition: background 0.4s;
  text-decoration: none;

  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(26);
  }
}

.news-item__title span:hover {
  background-size: 100% 1px;
}